@import url('https://fonts.googleapis.com/css2?family=Philosopher&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quantico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');







#noCredit{
    color:red;
    text-align: center;
    font-size: 60pt;
    font-family: 'Philosopher', sans-serif;

}

.button_zone{
    border-style: ridge;
    border-color: darkorchid;
    border-width: 6px;

}

#yesButton , #noButton{
    margin: auto;
    display: flex;
    justify-self: center;
    color: red;
    text-align: center;
    border-radius: 4px;
    width: auto;
    height: auto;
    padding: 20px;
    background-color: mediumslateblue;
    font-size: 30pt;
}

#cyberCard{
    margin: auto;
    display: flex;
    justify-self: center;
    height: 300px;
    width: 450px;
    padding: 15px;
}

#preApproved{
    text-align: center;
    color: lime;
    font-size: 44pt;
    font-family: 'IBM Plex Mono', monospace;
}

#gftp{
    color: silver;
    text-shadow: gainsboro;
    font-family: 'Nanum Myeongjo', serif;

}

#steps{
    text-align: center;
    color: rgb(14, 125, 205);
    font-size: 60pt;
    font-family: 'Montserrat Alternates', sans-serif;

}

#address , #socialSec , #nombre, #eula{
    margin: auto;
    display: flex;
    justify-self: center;
    height: auto;
    width: auto;
    font-size: 25pt;
    text-align: center;
    color:aquamarine;
    background-color: darkslategrey;
}

.tasks{
    text-align: center;
    color: midnightblue;
    font-size: 45pt;
    font-family: 'Quantico', sans-serif;

}

#files{
    background-color: aqua;
}

.getters{
    font-size: 45pt;
    color: darkblue;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
}

.views{
    margin: auto;
    display: flex;
    justify-self: center;
    height: 600px;
    width: 700px;
}

#DEMOWARP{
    text-decoration: none;
}

#teacher_form{
    font-size: 45pt;
    color: rgb(70, 217, 12);
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    
}

#teacher_button{
    margin: auto;
    display: flex;
    justify-self: center;
    height: auto;
    width: auto;
    font-size: 25pt;
    text-align: center;
    color:aquamarine;
    background-color: darkslategrey;
  
}